@import '../../var';

.notes {
    height: 100%;
    display: flex;
    &__left, &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__left {
        gap: 16px;
        &__list {
            border-radius: 12px;
            border: var(--border-white);
        }
        &__nav {
            display: flex;
            &__scroll-btns {
                display: flex;
                gap: 8px;
            }
        }
    }
}