:root {
  --color-bg: #1E1E1E;
  --color-white: #E7E7E7;
  --color-light-grey: #AFAFAF;
  --color-light-grey-10: #AFAFAF10;
  --transition: all 150ms cubic-bezier(0.4,0,0.2,1);
  --border-white: 1px solid var(--color-white);
  --border-white-dashed: 1px dashed var(--color-white);
  --border-white-3: 3px solid var(--color-white);
}

.display-small {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.headline-small {
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
}

.title-large {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.title-medium {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.body-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 1140px) {
  .display-small {
    font-size: 32px;
    line-height: 40px;
  }
  .headline-small {
    font-size: 22px;
    line-height: 24px;
  }
  .title-large {
    font-size: 20px;
    line-height: 24px;
  }
  .title-medium, .body-large {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 480px) {
  .display-small {
    font-size: 28px;
    line-height: 36px;
  }
  .headline-small {
    font-size: 16px;
    line-height: 18px;
  }
  .title-large {
    font-size: 18px;
    line-height: 22px;
  }
  .title-medium, .body-large {
    font-size: 12px;
    line-height: 20px;
  }
}
.bottom-bar {
  background-color: var(--color-white);
  border-radius: 24px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [last];
}
.bottom-bar__icons, .bottom-bar__widget, .bottom-bar__navigation {
  padding: 12px;
}
.bottom-bar__icons {
  grid-column: 1/4;
  display: flex;
  gap: 12px;
}
.bottom-bar__widget {
  grid-column: 4/10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 20px;
}
.bottom-bar__widget__title {
  text-align: center;
  text-transform: capitalize;
  padding-top: 8px;
}
.bottom-bar__navigation {
  display: none;
  grid-column-start: 10;
  grid-column-end: span last;
  align-items: center;
}
.bottom-bar__navigation__btns__btn {
  height: 36px;
  background-color: var(--color-light-grey);
  border-radius: 12px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

@media screen and (max-width: 1140px) {
  .bottom-bar {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [last];
  }
  .bottom-bar__icons {
    grid-column: 1/3;
  }
  .bottom-bar__widget {
    grid-column: 3/7;
  }
  .bottom-bar__navigation {
    grid-column-start: 7;
  }
}
@media (max-width: 1030px), screen and (max-width: 1240px) and (orientation: portrait) {
  .bottom-bar {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
  .bottom-bar__navigation {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .bottom-bar {
    border-radius: 12px;
  }
  .bottom-bar__icons, .bottom-bar__widget, .bottom-bar__navigation {
    padding: 6px;
  }
  .bottom-bar__icons {
    gap: 6px;
  }
  .bottom-bar__widget {
    gap: 8px;
    padding: 12px 0;
  }
}/*# sourceMappingURL=BottomBar.css.map */