@import '../var';

.bottom-bar {
    @include background-white;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [last];
    &__icons {
        grid-column: 1 / 4;
        padding: 12px;
        display: flex;
        gap: 12px;
    }
    &__widget {
        grid-column: 4 / 10;
    }
    &__navigation {
        grid-column-start: 10;
        grid-column-end: span last;
    }
}