@import '../var';

.icons {
    &__container {
        height: 100%;
        width: 100%;
        display: grid;
        column-gap: 20px;
        row-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr [last];
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        overflow: hidden;
    }
    &__icon {
        display: flex;
        align-items: center;
        border-radius: 24px;
        border: var(--border-white-dashed);
        font-size: 32px;
        color: var(--color-white);
        padding: 0 24px;
        transition: var(--transition);
        opacity: .8;
        &__title {
            width: 100%;
            text-align: center;
        }
        &:hover {
            background-color: var(--color-light-grey-10);
            border: var(--border-white);
            cursor: pointer;
            border-radius: 18px;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1140px) {
    .icons__container {
        row-gap: 42px;
    }
}
@media (max-width: 1030px), screen and (max-width: 1240px) and (orientation: portrait) {
    .icons__icon {
        font-size: 28px;
        min-height: 44px;
    }
    .icons__container {
        row-gap: 12px;
    }
    .icons__container-open {
        overflow: scroll;
        gap: 8px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(15, 10%);
    }
}
@media screen and (max-width: 480px) {
    .icons__icon {
        font-size: 22px;
        height: 70%;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
}