@import '../var';

.info {
    height: 100%;
    min-height: 528px;
    @include background-white;
    padding: 12px;
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 36px;
    &__top {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &__input {
            &::placeholder {
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                opacity: .6;
            }
        }
    }
    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &__day, &__localization {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__day-name {
            text-transform: uppercase;
            opacity: .7;
        }
        &__clock {
            background-color: var(--color-bg);
            color: var(--color-white);
            border-radius: 12px;
            padding: 8px 12px 4px 12px;
        }
    }
}

@media screen and (max-width: 1140px) {
    .info__top__input::placeholder {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 1030px), screen and (max-width: 1240px) and (orientation: portrait) {
    .info__bottom {
        align-self: flex-end;
        &__day, &__localization {
            width: 200px;
        }
    }
}

@media screen and (max-width: 480px) {
    .info {
        padding-top: 18px;
        &__top {
            gap: 8px;
            &__input::placeholder {
                font-size: 18px;
                line-height: 22px;
            }
        }
        &__bottom {
            &__clock {
                display: none;
            }
            &__localization {
                justify-content: flex-end;
            }
            &__day {
                flex-direction: column;
            }
        }
    }
}

