@import '../../var';

.calendar {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    gap: 48px;
    &__left, &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__left {
        padding-top: 8px;
        &__displayed-month {
            color: var(--color-white);
            display: flex;
            justify-content: space-between;
            &__title {
                padding-top: 4px;
            }
            &__nav {
                display: flex;
            }
        }
        &__displayed-days {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            .month {
                position: absolute;
                width: 100%;
                background-color: var(--color-bg);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                row-gap: 24px;
                justify-items: center;
                align-items: center;
                &__day-name {
                    opacity: .7;
                    color: var(--color-white);
                }
                .previous, .next {
                    opacity: 0;
                    &:hover {
                        cursor: default;
                    }
                }
                .current {
                    color: var(--color-white);
                    width: 100%;
                    height: 34px;
                    font-weight: 700;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .active-day {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background-color: var(--color-white);
            }
            .day-with-tasks {
                text-decoration: underline;
            }
            .displayed-day {
                border-radius: 50%;
                border: var(--border-white-dashed);
            }
        }
    }
}