@import '../../var';

.weather {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    span {
        vertical-align: 30%;
    }
    .weather-card {
        position: absolute;
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__symbol, &__current-temp {
                width: 120px;
                height: 88px;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__symbol {
                flex-direction: column;
                gap: 4px;
                font-size: 44px;
            }
            &__card {
                height: 88px;
                padding: 12px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: var(--color-white);
                &__text {
                    display: flex;
                    align-items: flex-end;
                    gap: 12px;
                    font-size: 32px;
                    &:nth-child(2) {
                        opacity: .6;
                    }
                }
                
            }
        }
        &__bottom {
            width: 100%;
            height: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: var(--color-white);
            &__left, &__right {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            &__info {
                height: 18%;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 28px;
                grid-template-rows: auto auto;
                row-gap: 6px;
                align-items: center;
                h5 {
                    text-align: right;
                }
                p {
                    text-align: left;
                }
            }
        }
    }
    &__nav {
        width: 100%;
        position: absolute;
        bottom: -12px;
        display: flex;
        justify-content: space-around;
        .weather-nav-btn {
            border: var(--border-white);
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            gap: 2px;
            padding: 6px;
            align-items: center;
            opacity: .7;
            &:hover {
                cursor: pointer;
            }
        }
        .active-btn-black {
            background-color: var(--color-white);
            color: var(--color-bg);
            opacity: 1;
        }
        .active-btn-color {
            background-color: var(--weather-color);
            border-color: var(--weather-color);
            color: var(--color-white);
            opacity: 1;
        }
        .inactive-btn-black {
            color: var(--color-white);
        }
        .inactive-btn-color {
            background-color: var(--weather-color);
            border-color: var(--weather-color);
            color: var(--color-white);
            opacity: .6;
        }
    }
}
@media screen and (max-width: 1140px) {
    .weather {
        &__nav {
            justify-content: space-between;
        }
    }
}
@media screen and (max-width: 600px) {
    .weather {
        .weather-card {
            gap: 12px;
        }
        .weather-nav-btn {
            &__max-min-temp {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__slash {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .weather {
        &__nav {
            bottom: 0;
        }
        .weather-card {
            &__top {
                &__symbol, &__current-temp {
                    width: 80px;
                    height: 88px;
                }
                &__symbol {
                    font-size: 32px;
                }
                &__card__text {
                    gap: 4px;
                }
            }
        }
    }
    
}