:root {
  --color-bg: #1E1E1E;
  --color-white: #E7E7E7;
  --color-light-grey: #AFAFAF;
  --color-error: #FF3B30;
  --color-light-grey-10: #AFAFAF10;
  --transition: all 150ms cubic-bezier(0.4,0,0.2,1);
  --border-white: 1px solid var(--color-white);
  --border-white-dashed: 1px dashed var(--color-white);
  --border-white-2: 2px solid var(--color-white);
  --border-white-3: 3px solid var(--color-white);
  --border-error: 1px solid var(--color-error);
  --weather-color: #286BA5;
  --weather-color-80: #5388B7;
}

.display-large {
  font-weight: 500;
  font-size: 57px;
  line-height: 64px;
}

.display-small {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.headline-medium {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.headline-small {
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
}

.title-large {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.title-medium {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.subtitle-medium {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.body-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.label-medium {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 1140px) {
  .display-large {
    font-size: 52px;
    line-height: 60px;
  }
  .display-small {
    font-size: 32px;
    line-height: 40px;
  }
  .headline-medium {
    font-size: 26px;
    line-height: 32px;
  }
  .headline-small {
    font-size: 22px;
    line-height: 24px;
  }
  .title-large {
    font-size: 20px;
    line-height: 24px;
  }
  .title-medium, .body-large, .subtitle-medium {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 480px) {
  .display-large {
    font-size: 48px;
    line-height: 56px;
  }
  .display-small {
    font-size: 28px;
    line-height: 36px;
  }
  .headline-medium {
    font-size: 20px;
    line-height: 26px;
  }
  .headline-small {
    font-size: 16px;
    line-height: 18px;
  }
  .title-large {
    font-size: 18px;
    line-height: 22px;
  }
  .title-medium, .body-large, .subtitle-medium {
    font-size: 12px;
    line-height: 20px;
  }
}
.weather {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.weather span {
  vertical-align: 30%;
}
.weather .weather-card {
  position: absolute;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.weather .weather-card__top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}
.weather .weather-card__top__symbol, .weather .weather-card__top__current-temp {
  height: 88px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather .weather-card__top__current-temp {
  width: 140px;
  gap: 4px;
}
.weather .weather-card__top__current-temp__min-max {
  display: flex;
  flex-direction: column;
  opacity: 0.6;
}
.weather .weather-card__top__current-temp__divider {
  opacity: 0.6;
}
.weather .weather-card__top__current-temp__weekday {
  text-transform: uppercase;
  padding-right: 8px;
}
.weather .weather-card__top__symbol {
  width: 100px;
  flex-direction: column;
  gap: 4px;
  font-size: 44px;
}
.weather .weather-card__top__card {
  height: 88px;
  padding: 12px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}
.weather .weather-card__top__card__text {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  font-size: 32px;
}
.weather .weather-card__top__card__text:nth-child(2) {
  opacity: 0.6;
}
.weather .weather-card__top__localization {
  width: 140px;
  height: 88px;
  padding: 12px;
  border-radius: 12px;
  border: var(--border-white-dashed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: var(--transition);
  position: relative;
}
.weather .weather-card__top__localization__text {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.weather .weather-card__top__localization__icon {
  opacity: 0;
  font-size: 18px;
  z-index: 2;
}
.weather .weather-card__top__localization:hover {
  cursor: pointer;
  border-radius: 8px;
  border: var(--border-white);
  background-color: var(--color-light-grey-10);
}
.weather .weather-card__top__localization:hover .weather-card__top__localization__icon {
  opacity: 1;
}
.weather .weather-card__top__localization__options {
  position: absolute;
  background-color: var(--color-bg);
  width: 140px;
  height: 88px;
  border-radius: 8px;
  border: var(--border-white);
  left: 0;
  bottom: -110%;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  z-index: 1;
  overflow: hidden;
}
.weather .weather-card__top__localization__options__btn {
  padding: 0 12px;
  width: 100%;
  flex: 1;
  opacity: 0.8;
}
.weather .weather-card__top__localization__options__btn:first-child {
  border-bottom: var(--border-white);
}
.weather .weather-card__top__localization__options__btn:hover {
  background-color: var(--color-light-grey-10);
  opacity: 1;
}
.weather .weather-card__bottom {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-white);
}
.weather .weather-card__bottom__left, .weather .weather-card__bottom__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.weather .weather-card__bottom__info {
  height: 18%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 28px;
       column-gap: 28px;
  grid-template-rows: auto auto;
  row-gap: 6px;
  align-items: center;
}
.weather .weather-card__bottom__info h5 {
  text-align: right;
}
.weather .weather-card__bottom__info p {
  text-align: left;
}
.weather__nav {
  width: 100%;
  position: absolute;
  bottom: -12px;
  display: flex;
  justify-content: space-around;
}
.weather__nav .weather-nav-btn {
  border: var(--border-white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 6px;
  align-items: center;
  opacity: 0.7;
}
.weather__nav .weather-nav-btn:hover {
  cursor: pointer;
}
.weather__nav .active-btn-black {
  background-color: var(--color-white);
  color: var(--color-bg);
  opacity: 1;
}
.weather__nav .active-btn-color {
  background-color: var(--weather-color);
  border-color: var(--weather-color);
  color: var(--color-white);
  opacity: 1;
}
.weather__nav .inactive-btn-black {
  color: var(--color-white);
}
.weather__nav .inactive-btn-color {
  background-color: var(--weather-color);
  border-color: var(--weather-color);
  color: var(--color-white);
  opacity: 0.6;
}
.weather__localizations {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}
.weather__localizations__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 8px;
  border: var(--border-white-dashed);
  border-radius: 12px;
  transition: var(--transition);
}
.weather__localizations__btn__text {
  display: flex;
  flex-direction: column;
}
.weather__localizations__btn__add-icon {
  opacity: 0;
}
.weather__localizations__btn:hover {
  cursor: pointer;
  border-radius: 8px;
  opacity: 1;
  border: var(--border-white);
  background-color: var(--color-light-grey-10);
}
.weather__localizations__btn:hover .weather__localizations__btn__add-icon {
  opacity: 1;
}
.weather__localizations .btn-color {
  background-color: var(--weather-color);
  border-color: var(--weather-color);
  opacity: 0.8;
}
.weather__localizations .btn-color:hover {
  opacity: 1;
}
.weather__saved-localizations {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  height: 100%;
}
.weather__saved-localizations__btns {
  flex: 1;
  align-items: center;
  padding-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.weather__saved-localizations__btn {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  border: var(--border-error);
  border-color: transparent;
  transition: var(--transition);
}
.weather__saved-localizations__btn:has(.weather__saved-localizations__btn__delete:hover) {
  border-color: var(--color-error);
  background-color: var(--color-error);
}
.weather__saved-localizations__btn__delete {
  padding: 0 12px;
  opacity: 0.7;
}
.weather__saved-localizations__btn__delete:hover {
  cursor: pointer;
  color: var(--color-bg);
  opacity: 1;
}
.weather__saved-localizations__btn .delete-color {
  color: var(--color-bg);
}
.weather__saved-localizations__btn .delete-color:hover {
  color: var(--color-white);
}
.weather__saved-localizations__btn__choose {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: var(--border-white-dashed);
  border-radius: 12px;
  padding: 12px;
  background-color: var(--color-bg);
  transition: var(--transition);
}
.weather__saved-localizations__btn__choose:hover {
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--color-light-grey-10);
}
.weather__saved-localizations__btn .choose-color {
  color: var(--weather-color);
  border: 1px dashed var(--weather-color-80);
  background-color: var(--color-white);
}

@media screen and (max-width: 1140px) {
  .weather__nav {
    justify-content: space-between;
  }
}
@media (max-width: 1030px), screen and (max-width: 1240px) and (orientation: portrait) {
  .weather__saved-localizations__btns {
    padding-top: 24px;
    gap: 8px;
  }
  .weather__localizations {
    padding-top: 12px;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .weather .weather-card {
    gap: 12px;
  }
  .weather .weather-nav-btn__max-min-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weather .weather-nav-btn__slash {
    display: none;
  }
  .weather__saved-localizations {
    padding-top: 0;
  }
  .weather__saved-localizations__btns {
    padding-top: 12px;
    grid-template-columns: 1fr 1fr;
  }
  .weather__saved-localizations__btn__choose {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
}
@media screen and (max-width: 480px) {
  .weather__nav {
    bottom: 0;
  }
  .weather .weather-card__top__symbol, .weather .weather-card__top__current-temp {
    width: 80px;
    height: 88px;
  }
  .weather .weather-card__top__symbol {
    font-size: 32px;
  }
  .weather .weather-card__top__card__text {
    gap: 4px;
  }
  .weather__saved-localizations__btn__choose {
    padding: 8px 4px;
  }
  .weather__saved-localizations__btn__delete {
    padding: 0 8px;
  }
  .weather__saved-localizations__btns {
    gap: 0;
  }
  .weather__localizations {
    gap: 4px;
    grid-template-columns: 1fr 1fr;
  }
  .weather__localizations__btn {
    padding: 2px 8px;
  }
}/*# sourceMappingURL=Weather.css.map */